<!DOCTYPE html>
<html>
  <head>
    <title>InsiderInsight</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script>
      document.documentElement.setAttribute('data-theme', window.localStorage.getItem('theme'))
    </script>
  </head>
  <body>
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Page content here -->
        <div class="grid grid-cols-1 gap-6 lg:p-10 xl:grid-cols-3 bg-base-200 text-base-content p-3">
          <%= render "layouts/header" %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content">
          <!-- Sidebar content here -->
          <li><a href="https://daisyui.com/" target="_blank" class=""> About </a> </li>
          <li><a href="https://github.com/evolshenanigans/insiderinsightmvp" target="_blank" class=""> Github </a></li>
          <% if user_signed_in? %>
            <li>
              <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn", data: { turbo_confirm: 'Are you sure?' } %>

            </li>
          <% else %>
            <li><a href="<%= new_user_session_path %>" class="btn">Login</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
